  ____  ______ _    _ _____  _  __
 |  _ \|  ____| |  | |  __ \| |/ /
 | |_) | |__  | |  | | |__) | ' / 
 |  _ <|  __| | |  | |  _  /|  <  
 | |_) | |____| |__| | | \ \| . \ 
 |____/|______|\____/|_|  \_\_|\_\

 BEURK Experimental Unix RootKit:
 An userland rootkit for linux, based on shared library hooking
 and common evasion techniques.

Liste des outils disponibles :
  - gcc colorgcc clang nasm
  - ltrace peda
  - git tig
  - zsh tmux
  - vim ctags cscope 
  - python3 bpython3 
  - htop xz elinks
  - libpam-dev libssl-dev libpcap-dev
